.vscode
build/
*.so.6
*.so
*.o
**/build/
package/
*.tar.gz
*.egg-info/
*.egg
*.whl
*.pyc
*.pyo
*.pyd
*.pdb
*.db
*.sqlite
*.log
*.out
*.tmp
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace
*.sublime-settings
*.sublime-metrics
*.sublime-commands
*.sublime-keymap
*.sublime-snippet
*.sublime-color-scheme
*.sublime-theme
